@charset "UTF-8";

/* -----------------all */
* {
    margin: 0;
    padding: 0;
    color: #232325;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}




/* ================header================= */
header {
    /* position: fixed; */
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 5vw;
    min-height: 55px;
    /* z-index: 1; */
}

header .logo1 {
    line-height: 5vw;
}

header .gnb {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

header .gnb>li {
    width: 20%;
    min-width: 95px;
    height: 5vw;

    line-height: 5vw;
    text-align: center;
}

header .gnb>li:hover {
    background-color: gray;

}

/* header .gnb>li:hover a {
    color: #b20f12;
} */

header .gnb>li>a {
    color: white;
    display: block;
}

header .lang_box {
    display: flex;
    align-items: center;
}

header .lang_box>li {
    width: 50%;
    height: 5vw;
    line-height: 5vw;
}

header .lang_box>li:nth-child(1)>a {
    color: white;
    font-weight: bold;
    display: block;
}

header .lang_box>li:nth-child(2)>a {
    color: rgb(169, 159, 159);
    font-weight: 0;
    display: block;
}

/* section-------------------------------------------- */


/* --------------- main1--------------------------------------- */
section .main1 {
    width: 100%;
    height: calc(100vh - 90px);
    /* position: relative; */
    /* left: 0; */
    /* top: 0; */
    /* z-index: -1; */
    /* background-color: blue; */
}

section .main1 .fade_carousel {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}

section .main1 .list {
    display: flex;
    width: 400%;
    transition: 0.5s ease;
}

section .main1 .list>li {
    width: 100%;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

section .main1 .list>li.active1 {
    opacity: 1 !important;
    /* visibility: visible; */
}

section .main1 .list .bg1 {
    background-image: url(../images/main1.gif);
    /* background-size: cover; */
    /* width: 100%; */
    /* display: block; */
}

section .main1 .list .bg2 {
    background-image: url(../images/main2.gif);
    /* background-position: 0 -150px; */
    background-color: black;
}

section .main1 .list .bg3 {
    background-image: url(../images/main3.gif);
}

section .main1 .list .bg4 {
    background-image: url(../images/main4.png);
    /* background-position: 0 -100px; */
    background-color: white;
}

section .main1 .main1_txt {
    position: absolute;
    bottom: 40px;
    right: 0px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.789);
    width: auto;
}

section .main1 li:nth-child(2) .main1_txt {
    background-color: rgba(255, 255, 255, 0.789);
}

section .main1 .main1_txt p {
    color: white;
    text-align: right;
}


section .main1 li:nth-child(2) .main1_txt p {
    color: rgb(0, 0, 0);
}

section .main1 .main1_txt p:nth-child(1) {
    font-size: 20pt;
}

section .main1 .main1_txt p:nth-child(2) {
    font-size: 15pt;
}



section .fade_carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* padding: 10px; */
    color: white;
    z-index: 1;
    font-weight: 0;

}

section .fade_carousel .prev {
    left: 10%;
}

section .fade_carousel .next {
    right: 10%;
    transform: rotate(180deg);
}

section .fade_carousel button>div {
    position: relative;
    display: block;
    /* width: 100px; */
    /* height: 100px; */
}

section .fade_carousel button>div>div {
    border: 1px solid white;
    width: 5vw;
    /* height: 100px; */
    position: absolute;


}

section .fade_carousel button>div>div:nth-child(1) {
    transform: rotate(-45deg);
    /* margin-bottom: 0px; */
    transform-origin: top left;
}

section .fade_carousel button>div>div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: bottom left;
}

/* =========================PaE----------------- */
section .PaE {
    width: 100%;
    height: 60vw;
    min-height: 400px;
    position: relative;
    background-color: #f1f0eb;
}

section .PaE .title1 {
    position: absolute;
    left: 0;
    top: -50px;
    width: 35%;
    height: 10vw;
    background-color: #b20f12;
    text-align: center;
    line-height: 10vw;
    /* display: none; */
}

section .PaE .title1 h2 {
    font-size: 2.5vw;
    color: white;
    font-weight: normal;
}

section .PaE .css_carousel {
    width: 100%;
    padding-top: 10%;
    overflow: hidden;
}

section .PaE .css_carousel .list15 {
    width: 300%;
    display: flex;
    justify-content: space-around;
    /* justify-content: flex-start; */
    transition: margin-left 0.5s ease;
    margin-left: 0;
}

section .PaE .css_carousel .list15 li {

    /* width: calc(100% / 3); */

    flex-basis: calc(100% / 3);
    /* 3개의 항목이 화면에 보일 때 */


    /* margin: 0px 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    height: 100%;
}

section .PaE .css_carousel .list15 li p:nth-child(1) {
    font-size: 1.3vw;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-weight: bold;
}

section .PaE .css_carousel .list15 li p:nth-child(2) {
    color: red;
    font-size: 1.1vw;
    margin: 10px 0;
    font-weight: bold;

}

section .PaE .css_carousel .list15 li p:nth-child(3) {
    font-size: 0.9vw;
    height: 6vw;
    min-height: 40px;
    width: 25vw;
    text-align: center;
}

section .PaE .css_carousel .list15 li div {
    /* margin-top: 40px; */
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
    height: 35vw;
    /* min-width: 200px; */
    /* min-height: 350px; */
    border-radius: 15pt;
}

section .PaE .css_carousel .list15 li:nth-child(1) div {
    background-image: url(../images/PaE_1.gif);
}

section .PaE .css_carousel .list15 li:nth-child(2) div {
    background-image: url(../images/PaE_2.gif);
}

section .PaE .css_carousel .list15 li:nth-child(3) div {
    background-image: url(../images/Pae_3.gif);
}

section .PaE .css_carousel .list15 li:nth-child(4) div {
    background-image: url(../images/pae_4.gif);
}

section .PaE .css_carousel .list15 li:nth-child(5) div {
    background-image: url(../images/pae_5.gif);
}

section .PaE .css_carousel .list15 li:nth-child(6) div {
    background-image: url(../images/pae_6.gif);
}

section .PaE .css_carousel .list15 li:nth-child(7) div {
    background-image: url(../images/pae_7.gif);
}

section .PaE .css_carousel .list15 li:nth-child(8) div {
    background-image: url(../images/pae_8.gif);
}

section .PaE .css_carousel .list15 li:nth-child(9) div {
    background-image: url(../images/pae_9.gif);
}

section .PaE .PaE_arrow_box {
    position: absolute;
    right: 3%;
    top: 10%;
}

section .PaE .PaE_arrow_box button {
    margin: 0px 20px;
}


section .PaE .PaE_arrow_box i {
    font-size: 2.2vw;
}

/* --------------------place_guide======================= */
section .place_guide {
    width: 100%;
    height: 45vw;
    /* background-color: red; */
    padding-bottom: 0%;
}

section .place_guide .title2 {
    height: 5%;
    text-align: center;
    font-size: 1.3vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

section .place_guide .place_btn_box {
    width: 30%;
    height: 5%;
    margin: 0 auto;
    /* background-color: #514a4a; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

section .place_guide .place_btn_box button {
    width: calc(100% / 3);
    font-size: 1.2vw;
    margin: 0 3%;
    background-color: #f1f0eb;
    color: rgb(0, 0, 0);
}

section .place_guide button.active {
    color: rgb(230, 219, 219);
    background-color: #b20f12;
    /* cursor: none; */
}

section .place_guide .title2 h2 {
    font-weight: normal;
    /* background-color: red; */
}

section .place_guide .title2 h2 span {
    color: #b20f12;
}

section .place_guide .tab_menu {
    width: 100%;
    height: 1vw;
    margin-bottom: 2vw;
    line-height: 1vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin: 0 auto; */
}

section .place_guide .place_explain {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    text-align: center;
    /* margin: 0 auto; */
    font-size: 1.2vw;
}

section .place_guide .tab_menu .tab_contents {
    display: none;
}

section .place_guide .tab_menu .tab_contents.active {
    display: block;
}

section .place_guide .content_txt {
    position: absolute;
    width: 30%;
    /* height: 0px; */
    text-align: center;
    /* padding: 1%; */
    margin-left: 2.5%;
    box-sizing: border-box;
    /* display: none; */
}

section .place_guide .content_txt>div {
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #f1f0eb;
    height: 0;
    overflow: hidden;
    font-size: 0.8vw;
    /* padding: 4% 0%; */
    box-sizing: border-box;
}

section .place_guide .content_txt>div.active {
    opacity: 1;
    height: 16vw;
}

section .place_guide .content_txt h3 {
    padding-top: 5%;
    padding-bottom: 1%;
}



section .place_guide .content_txt div>p {
    color: #514a4a;
    /* margin: 2% 0; */
}

section .place_guide .content_txt div>p:nth-child(5) {
    margin: 1% 0;
}

section .place_guide .content_txt h4 {
    background-color: #b20f12;
    width: 30%;
    height: 1.8vw;
    line-height: 1.8vw;
    margin: 1% auto;
    color: white;
    opacity: 0.8;
}

section .place_guide .content_txt .originfo h4 {
    width: 80%;
}

section .place_guide .content_txt .originfo>p {
    width: 100%;
    font-size: 0.75vw;
}

section .place_guide .content_txt .originfo>p:nth-child(3) {
    margin-bottom: 1%;
}






section .place_guide .content_txt .link_box {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40%;
    align-items: center;

}

section .place_guide .content_txt .exhibit .link_box,
section .place_guide .content_txt .originfo .link_box {
    margin-top: 1.5vw;
}

section .place_guide .content_txt .link_box p {
    width: 50%;
    height: 2.5vw;
    line-height: 2.8vw;
    box-sizing: border-box;
    border: 1px solid #514a4a;
    color: #514a4a;
    margin: 1% 0;
}

section .place_guide .content_txt .link_box p:nth-child(1) {
    margin-right: 5px;
}

section .place_guide .content_txt .link_box p:hover {
    background-color: rgba(0, 0, 0, 0.444);
}

section .place_guide .content_txt .link_box p a {
    display: block;
}

section .place_guide .swiper-all {
    height: 16vw;
    margin-left: 35%;
}

section .place_guide .swiper-all .tab_contents {
    display: none;
}

section .place_guide .swiper-all .tab_contents.active {
    display: block;
}

/* -----------------------faq=============================== */
section .faq {
    width: 100%;
    height: 40vw;
    background-color: #232325;
    /* color: white; */
    display: flex;
    padding-bottom: 0;
}

section .faq_left {
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
}

section .title3 {
    padding: 5% 0;
    text-align: center;
    font-size: 1.2vw;
}

section .title3 h2 {
    color: white;
    /* font-size: 25pt; */
    font-weight: normal;
    /* background-color: #b20f12; */
}

section .title3 h2 span {
    color: #b20f12;
}

section .tab_menu1 {
    display: flex;
    /* justify-content: space-around; */
}

section .faq .tab_group {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    /* background-color: red; */
}



section .faq .tab_menu1>button {
    margin: 0 5%;
    color: white;
    font-size: 1.2vw;
}

section .faq .tab_menu22 .tab_contents1 {
    display: none;

}



section .faq .tab_menu22 .tab_contents1.active {
    display: block;
}

section .m_title {
    width: 80%;
    color: white;
    background-color: none;
    border-bottom: 1px solid white;
    height: 3.5vw;
    line-height: 3.5vw;
    margin: 3px;
    margin-left: 5%;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 100;
    position: relative;
    /* font-weight: 100; */
}

section .m_title.active {
    /* font-weight: bold; */
}

section .faq .tab_menu22 .tab_contents1 span {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

section .faq .tab_menu22 .tab_contents1 .hide1 {
    display: none;
}

section .faq .tab_menu22 .tab_contents1 .m_title.active span {
    display: none;
}

section .faq .tab_menu22 .tab_contents1 .m_title.active .hide1 {
    display: block;
}

section .m_txt {
    width: 80%;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.5s ease, padding 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.106);
    color: rgba(255, 255, 255, 0.74);
    opacity: 0;
    visibility: hidden;
    font-size: 0.9vw;
    font-weight: 100;
    padding: 1%;
    /* font-weight: bold; */

}

section .m_txt.show {
    /* padding: 0 20px; */
    width: calc(100% - 20%);
    height: auto;
    opacity: 1;
    visibility: visible;
    margin-left: 5%;
    /* box-sizing: border-box; */
}

section .m_txt>a {
    color: rgb(212, 202, 202);
}



section .faq_right {
    width: 50%;
    height: 100%;
    /* background-color: red; */

}

section .faq_right .imgbox {
    background-image: url(../images/faq_1.jpg);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

/*------------------------- academy-----------========== */
section .academy {
    width: 100%;
    height: 50vw;
    padding-top: 5%;
    position: relative;
    overflow: hidden;
}

section .academy .title4 {
    text-align: center;
    font-size: 1.4vw;
}

section .academy .title4 h2 {
    font-weight: normal;
}

section .academy .title4 span {
    color: #b20f12;
}

section .academy .cir {
    border-radius: 50%;
    border: 3px solid #f0ebd5;
    /* background-color: black; */
    position: absolute;
    z-index: -1;

}

section .academy .cir1 {
    width: 70vw;
    height: 70vw;
    /* display: block; */
    left: -15vw;
    top: -3vw;
}

section .academy .cir2 {
    width: 35vw;
    height: 35vw;
    /* display: block; */
    right: -15vw;
    top: -25vw;
}

section .academy .cir3 {
    width: 45vw;
    height: 45vw;
    /* display: block; */
    right: -13vw;
    top: 4vw;
}

section .academy .academy_imgbox {
    position: relative;
    text-align: center;
    width: 80%;
    height: 80%;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 5%;
}

section .academy .academy_imgbox div {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

section .academy .academy_imgbox div:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

section .academy .academy_imgbox .img41::after {

    width: 73.3%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .academy .academy_imgbox .img42::after {

    width: 99%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

section .academy .academy_imgbox .img43::after {

    width: 100%;
    height: 73.3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



section .academy .academy_imgbox div:hover::after {
    opacity: 1;
    /* 호버 시 배경 표시 */
}

section .academy .academy_imgbox .img41 {
    width: 49%;
    height: 80%;
    /* background-color: blue; */
    background-image: url(../images/academy_1.gif);
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

/* section .academy .academy_imgbox div:hover {
    filter: sepia(0.8);
} */

section .academy .academy_imgbox .img42 {
    width: 35%;
    height: 49%;
    /* background-color: green; */
    background-image: url(../images/academy_2.jpg);
    left: 50%;
}

section .academy .academy_imgbox .img43 {
    width: 49%;
    height: 49%;
    /* background-color: yellow; */
    background-image: url(../images/academy_3.jfif);
    left: 50%;
    bottom: 0;
    /* transform: translateY(-50%); */
}

section .academy .academy_imgbox p {
    position: absolute;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    transform: translate(-50%, -50%);
    display: none;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

section .academy .academy_imgbox>div:hover {
    /* filter: brightness(0.6); */
}

section .academy .academy_imgbox>div:hover p {
    display: block;
}

section .academy .academy_imgbox .txt41 {
    top: 50%;
    left: 50%;

}

section .academy .academy_imgbox .txt42 {
    top: 50%;
    left: 50%;
}

section .academy .academy_imgbox .txt43 {
    top: 50%;
    left: 50%;
}

/* ------------sns_line==================== */

section .sns_line {
    width: 100%;
    height: 5vw;
    background-color: #b20f12;
    /* text-align: center; */
    /* line-height: 100px; */

}

section .title5 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* align-items: center; */

}

section .title5>p {
    font-size: 1.5vw;
    color: white;
    /* background-color: paleturquoise; */
    width: 20%;
    height: 100%;
    /* margin-top: 50%; */
    /* transform: translateY(-50%); */
    line-height: 350%;
    text-align: center;
}

section .title5>div {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-left: 50px;
    /* line-height: 100px; */
    /* background-color: blue; */
    /* width: 700px; */
}

section .title5>div>a {
    /* vertical-align: middle; */
    margin: 0px 10px;
    /* transform: scale(0.9); */
    /* width: 150px; */
    height: 100%;
}

section .title5>div>a:hover {
    display: block;
    background-color: gray;
}

section .title5>div>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section .title5>div>a {
    width: 25%;
}

section .title5>div>a>i {
    width: 100%;
    height: 100%;
    line-height: 250%;
    text-align: center;
    color: white;
    font-size: 2vw;
    /* transform: scale(2.5); */
}

section .title5>div>a .sns_img_02 {
    width: 150px;
    /* height: 100%; */
    /* line-height: 150px; */
}



/* footer---------------------------------------------- */

footer {
    padding: 20px 0;
    font-size: 1vw;
    background-color: #514a4a;
}

footer ul {
    display: flex;
    margin: 10px 0;
}

footer ul li {
    margin: 0 1%;
    color: rgb(159, 154, 154);
}

footer ul li a {
    color: rgb(159, 154, 154);
}

footer ul li a:hover {
    border-bottom: 1px solid rgb(159, 154, 154);
}

footer .footer_third {
    margin: 0 1%;
    color: rgb(159, 154, 154);
}

@media all and (min-width:738px)and (max-width:1000px) {}

@media all and (max-width:1650px) {
    section .PaE .css_carousel .list15 li p:nth-child(1) {
        font-size: 16pt;
    }

    section .PaE .css_carousel .list15 li p:nth-child(2) {
        font-size: 14pt;
    }

    section .PaE .css_carousel .list15 li p:nth-child(3) {
        font-size: 11pt;
    }
}

@media all and (max-width:1024px) {
    section .PaE {
        height: 70vw;
        /* min-height: 600px; */
    }

    section .PaE .css_carousel {
        padding-top: 15%;
    }



    section .place_guide .title2 {
        /* margin-top: 2.5%;
        margin-bottom: 2.5%; */
        font-size: 2vw;
    }

    section .place_guide .place_btn_box {
        /* margin-bottom: 2.5%; */
        height: 10%;
    }

    section .place_guide .place_btn_box button {
        font-size: 1.9vw;
    }

    section .place_guide .content_txt h3 {
        font-size: 2vw;
        height: 40%;
        /* background-color: red; */
        padding-top: 10%;
        padding-bottom: 0%;
        /* line-height: ; */
        box-sizing: border-box;
    }

    section .place_guide .content_txt>div>p {
        display: none;
    }

    section .place_guide .content_txt h4 {
        display: none;
        margin: 0 auto;
    }

    section .place_guide .content_txt .link_box {
        margin-bottom: 0%;
        height: 50%;
    }

    section .place_guide .content_txt .exhibit .link_box,
    section .place_guide .content_txt .originfo .link_box {
        margin-top: 0vw;
    }

    section .place_guide .content_txt .link_box p {
        /* height: 3.5vw; */
        height: 5vw;
        line-height: 5vw;
        font-size: 1.2vw;
        margin: 0 0;
    }

    section .faq {
        height: 65vw;
    }

    section .faq .tab_group {
        margin-bottom: 2.5%;
    }

    section .faq_left {
        width: 100%;
    }

    section .faq .tab_menu1 {
        display: flex;
        justify-content: space-around;
    }

    section .faq .tab_menu1>button {
        margin: 0 0%;
        color: white;
        font-size: 2vw;
    }

    section .faq .tab_group {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5%;
        /* background-color: red; */
    }

    section .m_title {
        width: 90%;
        margin: 0 5%;
        margin-bottom: 2%;
        font-size: 2.2vw;
    }

    section .m_txt {
        width: 100%;
        margin-bottom: 2%;
        font-size: 1.8vw;
    }


    section .m_txt.show {
        width: 90%
    }

    section .faq_right .imgbox {
        display: none;
    }

    section .faq_right {
        display: none;
        width: 0%;
    }



    section .title5>p {
        /* font-size: 12pt; */
        /* width: 113px; */
    }

    footer {
        font-size: 8pt;
    }



}

@media all and (max-width:810px) {
    header .gnb>li {
        min-width: 0;
    }

    header .gnb>li>a {
        font-size: 1.4vw;
    }

    header .lang_box>li>a {
        font-size: 1.4vw;
    }

    section .main1 .main1_txt p:nth-child(1) {
        font-size: 2.2vw;
    }

    section .main1 .main1_txt p:nth-child(2) {
        font-size: 2vw;
    }

    section .main1 li:nth-child(3) .main1_txt p {
        color: rgb(194, 181, 181);
    }

    section .PaE .css_carousel .list15 li p:nth-child(1) {
        font-size: 6.8pt;
    }

    section .PaE .css_carousel .list15 li p:nth-child(2) {
        font-size: 8pt;
    }

    section .PaE .css_carousel .list15 li p:nth-child(3) {
        font-size: 7pt;
    }

    section .title5>p {
        font-size: 1.4vw;
    }
}

@media all and (max-width:400px) {
    section .title5>p {
        font-size: 1.2vw;
    }
}